<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Mk_JD2_88_22</display-name>
    <listener>
        <listener-class>by.it.academy.MessengerHomeTask01.listeners.SessionListener</listener-class>
    </listener>



</web-app>

        <!--    &lt;!&ndash;    <servlet>&ndash;&gt;-->
        <!--    &lt;!&ndash;        <servlet-name>HelloWorldServlet</servlet-name>&ndash;&gt;-->
        <!--    &lt;!&ndash;        <servlet-class>by.it.academy.Mk_JD2_88_22.endpoints.servlets.tests.HelloWorldServlet</servlet-class>&ndash;&gt;-->
        <!--    &lt;!&ndash;    </servlet>&ndash;&gt;-->
        <!--    &lt;!&ndash;    <servlet-mapping>&ndash;&gt;-->
        <!--    &lt;!&ndash;        <servlet-name>HelloWorldServlet</servlet-name>&ndash;&gt;-->
        <!--    &lt;!&ndash;        <url-pattern>/hello</url-pattern>&ndash;&gt;-->
        <!--    &lt;!&ndash;    </servlet-mapping>&ndash;&gt;-->
        <!--<context-param>-->
        <!--    <param-name>fileForSaveInstance</param-name>-->
        <!--    <param-value>D:\opt\apache-tomcat\8.5.75\conf\polls\instance.txt</param-value>-->
        <!--</context-param>-->

        <!--    <listener>-->
        <!--        <listener-class>by.it.academy.Mk_JD2_88_22.endpoints.servlets.pools.listeners.ContextListener</listener-class>-->
        <!--    </listener>-->

        <!--    <listener>-->
        <!--        <listener-class>by.it.academy.Mk_JD2_88_22.endpoints.servlets.pools.listeners.SessionListener</listener-class>-->
        <!--    </listener>-->
        <!--</web-app>-->